
        body { font-family: Arial; font-size: 21px; background-color: #c9c8c8;}
        td { font-family: Arial; font-size: 21px; }
        th { font-family: Arial; font-size: 21px; background-color: #c8c8c8; }
        input { font-family: Arial; font-size: 21px; }
